table {
    border-collapse: collapse;
    width: 100%;
    height: 150%;
    border:4px rgb(26, 34, 149) solid;
}

td {
    height: 150px;
}

.left_td {
    width: 20%;
}

.mid_td {
    width: 10%;
}

.mid_line_td {
    height: 75px;
}

.golden_bgd {
    background-color: darkgoldenrod;
}

.blue_bgd {
    background-color: blue;
}

